
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Zachary Sais</title>
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="css/main.css">
		<link rel="canvas" href="css/canvas.css">
		<link rel="canvas" href="_site/canvas.js">
		<link rel="icon" href="favicon.ico">
  </head>	
	
  <body>
    <div class="page">    
      <section class="content">
        <p>I'm <b>Zachary Sais</b>, a software developer.</p>

        <p>I'm a fourth-year Computer Science student at the <a href="http://cs.utexas.edu" target="_blank">University of Texas</a>.</p>

        <p>I share code on <a href="http://github.com/zrs233" target="_blank"><span class="host">github.com/</span>zrs233</a>.

        <p>
          I'm currently a development intern at <a href="http://peopleadmin.com" target="_blank">PeopleAdmin</a>.
		  I tutored Calculus and Computer Science classes at the <a href="http://www.utexas.edu/ugs/slc" target="_blank">Sanger Learning Center</a> from August 2011 to May 2013.
        </p>

        <p>Contact me at <a href="http://twitter.com/zachsais" target="_blank"><span class="at">@</span>zachsais</a> or <a href="mailto:zach.sais@utexas.edu">zach.sais<span class="at">@</span>utexas.edu</a>.</p>
				
				<!-- Lets draw some binary trees -->
			<canvas id="canvas"></canvas>	
      </section>

      <footer>
        <p class="weird-character">Ξ</p>
      </footer>
    </div>
  </body>
</html>
